<div class="row">
  <div class="col-xs-8">

    <h2 class="title_h2 text-center">登録情報編集</h2>
    <div class="form-horizontal">
      <%= form_with model:@customer, url:customer_path, local: true do |f| %>

        <%= render "layouts/error_messages", resource: @customer %>

        <div class="form-group">
          <%= f.label "名前", class: "col-sm-4 control-label" %>
          <div class="col-sm-8" >
          (姓)<%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
          (名)<%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label "フリガナ", class: "col-sm-4 control-label" %>
          <div class="col-sm-8" >
          (セイ)<%= f.text_field :kana_last_name, autofocus: true, autocomplete: "kana_last_name" %>
          (メイ)<%= f.text_field :kana_first_name, autofocus: true, autocomplete: "kana_first_name" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label "メールアドレス", class: "col-sm-4 control-label" %>
          <div class="col-sm-8">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label "郵便番号(ハイフンなし)", class: "col-sm-4 control-label" %>
          <div class="col-sm-8">
          <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label "住所", class: "col-sm-4 control-label" %>
          <div class="col-sm-8">
          <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label "電話番号(ハイフンなし)", class: "col-sm-4 control-label"%>
          <div class="col-sm-8">
          <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
          </div>
        </div>

        <div class="actions col-xs-9 col-xs-offset-3">
          <%= f.submit "編集内容を保存する", class: "btn btn-primary save col-xs-6" %>
          <%= link_to '退会する', customers_unsubscribe_path, class: "btn btn-danger"%>
        </div>
      <% end %>
      <div class="col-xs-12">
        <%= link_to "戻る", customers_my_page_path, class: "btn btn-info" %>
      </div>
      </div>
  </div>
</div>