<% if @delivary_addresses.present? %>
  <table class="table table-hover table-bordered">
    <thead>
        <tr class="info">
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th colspan="2"></th>
        </tr>
    </thead>

    <tbody>
      <% delivary_addresses.each do |delivary_address| %>
        <tr class="delivary-tr" id="destroy-<%= delivary_address.id %>">
            <td>
                <%= delivary_address.postal_code %>
            </td>
            <td class="text-left">
                <%= delivary_address.address %>
            </td>
            <td class="text-left">
                <%= delivary_address.name %>
            </td>
            <td>
                <%= link_to "編集する",edit_delivary_address_path(delivary_address), class: "btn-sm btn-primary" %>
            </td>
            <td>
                <%= link_to "削除する",delivary_address_path(delivary_address), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, remote: true, class: "btn-sm btn-danger destroy_book_#{delivary_address.id}" %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>