<div class="row">
  <div class="col-xs-offset-1 col-xs-8">
    <h2><%= @customer.last_name + @customer.first_name %>さんの会員詳細</h2>

    <table class="table table-bordered table-condensed" >
      <tbody>
        <tr>
          <td>顧客ID</td>
          <td>
            <%= @customer.id %>
            <% if @customer.is_valid == false %>
              <span  class="label label-primary">有効</span>
            <% else %>
              <span  class="label label-default">退会済み</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @customer.last_name + @customer.first_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= @customer.kana_last_name + @customer.kana_first_name %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @customer.postal_code %></td>
        <tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.address %></td>
        <tr>
        <tr>
          <td>電話番号</td>
          <td><%= @customer.phone_number %></td>
        <tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        <tr>
      </tbody>
    </table>

    <%= link_to "編集する", edit_admins_customer_path, class: "btn btn-info" %>
    <%= link_to "注文履歴一覧を見る", applicable_customer_index_admins_order_path,class: "btn btn-info" %>
  </div>
</div>