<%= link_to "新規登録", new_admins_item_path(), class: "btn btn-success"%>

<h1>商品一覧</h1>
		<table class="table">
			<thead>
				<tr>
		  		<th>商品ID</th>
					<th>商品名</th>
					<th>税抜価格</th>
					<th>ジャンル</th>
					<th>ステータス</th>
				</tr>
			</thead>

			<tbody>
				<% @item.each do |i| %>
					<tr>
					  <td><%= i.id %></td>
            <td><%= link_to i.name, admins_item_path(i)  %></td>
            <td><%= i.tax_out_price %></td>
            <td><%= i.genre.name %> </td>
            <td>
            	<% if i.is_sale == true %>
            		販売中
            	<% else %>
            		販売停止中
            	<% end %>
            </td>
					</tr>
				<% end %>
			</tbody>
		</table>

