<h1>商品詳細</h1>

<%= @item.name %>
<%= @item.explanation %>
<%= @item.genre.name %>
<%= @item.tax_out_price %>
<%= attachment_image_tag @item, :image, :fill, 40, 40, class: "pull-left profile-thumb" %>

<%= link_to "Edit", edit_admins_item_path(@item), class: "btn btn-success"%>