<h1>購入画面</h1>

<h4>購入品</h4>

<% @cart_item.each do |cart_item| %>
  <div><%= cart_item.item.name %></div>
  <div><%= cart_item.item.tax_out_price %>円</div>
  <div><%= cart_item.quantity %>個</div>
<% end %>
  <div>
    送料<%= @postage %>円
  </div>
  <div>
    請求額<%= @total_price %>円
  </div>


  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2>エラーが<%= @order.errors.count %>件あります。お客様情報を入力して下さい。</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<!--住所登録一覧-->
<h1>配送先住所一覧</h1>
<div id="address_itiran">
   <%= render 'public/addresses/itiran', customer_addresses: @customer_addresses %>
</div>


<h1>配送先住所追加</h1>
<div class="posts">
  <%= form_for(@adresses,:url => { action: "create2",controller: "addresses"}, remote: true) do |adress| %>
    <%= adress.text_field :name ,placeholder: "名前", id:"name"%>
    <%= adress.text_field :postal_code ,placeholder: "郵便番号",id:"postal_code"%>
    <%= adress.text_field :address  ,placeholder: "住所",id:"address"%>
    <%= adress.submit '送信' , class: 'form-submit'%>
<% end %>
</div>



<h1>配送先住所</h1>
<div id="order_address">
<%= render 'public/addresses/order_address',order: @order,address: @address,customer_name: @address.last_name + @address.first_name %>
</div>


