<h1>購入画面</h1>

<h4>購入品</h4>

<% @cart_item.each do |cart_item| %>
  <div><%= cart_item.item.name %></div>
  <div><%= cart_item.item.tax_out_price %>円</div>
  <div><%= cart_item.quantity %>個</div>
<% end %>
  <div>
    送料<%= @postage %>円
  </div>
  <div>
    請求額<%= @total_price %>円
  </div>


  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2>エラーが<%= @order.errors.count %>件あります。お客様情報を入力して下さい。</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <% @customer_addresses.each do |customer_address| %>
    <br>
      <div class="field">
        <%= customer_address.name %>
      </div>
      <div class="field">
        <%= customer_address.postal_code %>
      </div>
      <div class="field">
        <%= customer_address.address %>
      </div>
    <% end %>
  </div>

<div><%= form_with model: @adresses do |adress| %>
  <%= adress.text_area :name %>
  <%= adress.text_area :postal_code %>
  <%= adress.text_area :address  %>
  <%= adress.submit '送信'%>
<% end %>
</div>




  <h1>配送先住所</h1>
  <%= form_for @order,:url => { action: "confirm"} do |f| %>
    <br>
      <div class="field">
        <%= f.label :氏名 %>
        <%= f.text_field :name, size: 40 %>
      </div>
      <div class="field">
        <%= f.label :郵便番号 %>
        <%= f.text_field :postal_code, rows: 3, cols: 40 %>
      </div>
      <div class="field">
        <%= f.label :住所 %>
        <%= f.text_area :address, rows: 3, cols: 40 %>
      </div>
      <div class="field">
        <%= f.label :お支払い方法 %>
        <%= f.select(:payment_method, [['選択して下さい', ''],['クレジットカード', 0],['銀行振込', 1]]) %>
      </div>
        <div class="actions">
          <%= f.submit '注文内容の確認' %>
        </div>
  <% end %>
