<div class="row">
  
  <%= render "search", genres: @genres %>
  
  <div class="col-xs-9">
    <%= attachment_image_tag(@item, :image, size: "300x200", fallback: "no_image.jpg") %>
  <div class="pull-right">
    <h1><%= @item.name %></h1>
    <p><%= @item.explanation %></p>
    <p>¥<%= @price %>(税込)</p>
      <%= form_with model:@cart_item, local: true, url: cart_items_path do |f| %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.select :quantity, options_for_select((1..10).to_a), include_blank: "個数選択" %>
        <%= f.submit "カートに入れる", class: "btn btn-info" %>
      <% end %>
    </div>
  </div>
  
</div>