<header class="navbar navbar-fixed-top" >
    <div class="container">
      <nav class='nav navbar-nav navbar-left' >LOGO</nav>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <% if customer_signed_in? %>
            <li style="padding-top:15px">ようこそ、<%= current_customer.last_name %>さん！</li>
            <li><%= link_to 'マイページ', customers_my_page_path %></li>
            <li><%= link_to '商品一覧', items_path %></li>
            <li><%= link_to 'カート', cart_items_path %></li>
            <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %></li>
          <% elsif admin_signed_in? %>
            <li><%= link_to '商品一覧', admins_items_path %></li>
            <li><%= link_to '会員一覧', admins_customers_path %></li>
            <li><%= link_to '注文履歴一覧', admins_orders_path %></li>
            <li><%= link_to 'ジャンル一覧', admins_genres_path %></li>
            <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to '商品一覧', items_path %></li>
            <li><%= link_to '新規登録', new_customer_registration_path %></li>              
            <li><%= link_to 'ログイン', new_customer_session_path %></li>
          <% end %>
        </ul>
      </nav>
      <% if admin_signed_in? %>
        <div class="search-form pull-right" style="padding-top:15px" >
          <%= form_with url: admins_search_path, method: :get, local:true do |f| %>
            <%= f.text_field :content %>
            <%= f.select :model, options_for_select({ "Customer" => "customer", "Item" => "item" }) %>
            <%= f.submit "検索" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </header>