<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "layouts/header" %>

    <div class="body">
      <div class="container">
        <div id="flash">
          <%= render "layouts/flash" %>
        </div>
        <%= yield %>
      </div>
    </div>

    <footer>
      <div class='container'>
  	    <div class='row'></div>
      </div>
    </footer>

  </body>
</html>
