<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top" >
      <div class="container">
        <nav class='nav navbar-nav navbar-left' >
          <span>LOGO</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if customer_signed_in? %>
              <li>ようこそ、xxxさん！</li>
              <li><%= link_to 'マイページ', customers_show_path %></li>
              <li><%= link_to '商品一覧', items_index_path %></li>
              <li><%= link_to 'カート', cart_items_index_path %></li>
              <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %></li>
            <% elsif admin_signed_in? %>
              <li><%= link_to '商品一覧', admins_items_index_path %></li>
              <li><%= link_to '会員一覧', admins_customers_path %></li>
              <li><%= link_to '注文履歴一覧', admins_orders_index_path %></li>
              <li><%= link_to 'ジャンル一覧', admins_genres_index_path %></li>
              <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'About', homes_about_path %></li>
              <li><%= link_to '商品一覧', items_index_path %></li>
              <li><%= link_to '新規登録', new_customer_registration_path %></li>
              <li><%= link_to 'ログイン', new_customer_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <div class="body">
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <footer>
      <div class='container'>
  	    <div class='row'></div>
      </div>
    </footer>

  </body>
</html>
